* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #fafafa;
}


header {
    background: linear-gradient(90deg, #ff7b22, #ff914d);
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    position: sticky;
    top: 0;
    z-index: 100;
}

header h1 {
    color: white;
    margin: 0;
    font-size: 28px;
    letter-spacing: 1px;
}


nav {
    display: flex;
    gap: 15px;
}


nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.3s ease;
    font-size: 16px;
}


nav a:hover {
    background: white;
    color: #ff7b22;
    transform: scale(1.05);
}



.hero{
    padding: 80px 20px;
    text-align: center;
    background: url('https://www.themealdb.com/images/media/meals/llcbn01574260722.jpg') 
                center/cover no-repeat;
    color: white;
    text-shadow: 1px 1px 3px black;
}




.contenido {
    padding: 40px 20px;
    text-align: center;
    
}

.contenido h2{
    gap:20px;
}

.grid-recetas {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 280px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

.card img{
    width: 70%;
}

/*API*/
.api {
    padding: 40px 20px;
    text-align: center;
    background: #ffe1c4;
}

.buscar {
    margin-bottom: 20px;
}

.buscar input {
    padding: 8px;
}

.buscar button {
    padding: 8px 12px;
    margin-left: 5px;
    background: #ff914d;
    color: white;
    border: none;
    cursor: pointer;
}

.resultado {
    margin-top: 20px;
}



.formulario {
    max-width: 450px;
    margin: 50px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.formulario h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #444;
}

form input,
form textarea {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin-bottom: 5px;
    font-size: 16px;
    transition: 0.3s;
}


form input:focus,
form textarea:focus {
    border-color: #ff914d;
    outline: none;
    box-shadow: 0 0 4px rgba(255,145,77,0.5);
}


form textarea {
    height: 120px;
    resize: none;
}

/* Botón */
button[type="submit"] {
    padding: 12px;
    margin-top: 10px;
    background: #ff914d;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button[type="submit"]:hover {
    background: #ff7b22;
}


.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    height: 18px; 
}